$font-title: "Merriweather", serif;
$font-text: "Golos Text", sans-serif;


$color-white: #FFFFFF;
$color-black: #313131;
$color-red: #F54932;
$color-blue: #3057A2;
$color-grey: #D0D0D0;
$color-footer: #E9DED4;


$color-btn:#1F1F1F;
$color-btn-hover: #FBCE51;

